{% extends "store/base.html" %}
{% block title %}Thank you • Proxy{% endblock %}

{% block content %}
  <h1 class="page-title">Thank you!</h1>

  <div class="card">
    <p>Your order has been placed successfully.</p>

    <h3>Order number: #{{ order.id }}</h3>

    <p><b>Name:</b> {{ order.full_name }}</p>
    <p><b>Email:</b> {{ order.email }}</p>
    <p><b>Delivery:</b> {{ order.address_line1 }}, {{ order.city }}, {{ order.postcode }}, {{ order.country }}</p>

    <p class="price">Total: £{{ order.total_amount }}</p>

    <a class="btn" href="{% url 'shop' %}">Back to shop</a>
  </div>
{% endblock %}
